/* 테이블에 적용 폰트 적용 확인*/
@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #c69ad37e;
	/* background: linear-gradient(to right, #a8a8cf, pink); */
	flex-direction: column;
}

caption {
	font-weight: bold;
	margin: 20px;
	font-size: 1.25em;
}

a {
	text-decoration: none;
	color: #000; 
	font-weight: bold;
}

a:hover {
	color: #ca2bfab7;
}

table {
	background: #fff;
	position: relative;
	width: 70%;
	border-top: 1px solid lightgray;
	border-collapse: collapse;

}

th, td {
	border-bottom: 1px solid lightgray;
	padding: 10px;
	
}

td {
	text-align: center;
}

.btn {
 	display: flex;
 	flex-direction: column;
 	margin-top: 20px;
}

.btn > div > button {
	height: 30px;
	width: 70px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-left: 10px;
}

button:hover {
	background: #ca2bfab7;
	color: white;
	cursor: pointer;
}